@import "../../assets/sass/colors.scss";

/* ===== Recipe SCSS ===== */

.recipe-container {
  position: relative;
  float: left;
  padding: 5px 20px;
  height: 400px;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid $dark-blue;
  box-shadow: 2px 2px 0px 2px $deepest-yellow;
  word-wrap: break-word;
  background-color: $light-yellow;
  display: flex;
  flex-direction: column;
}

.recipe-container > .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container > .text-container > h3 {
  color: $vibrant-blue;
  border: 2px solid $dark-blue;
  padding: 10px 15px;
  border-radius: 15px;
}

.recipe-container > .text-container > h4 {
  margin: 0px;
}

.recipe-container > .recipe-box-tag > img {
  padding: 6px 15px;
  border-radius: 10px;
  float: left;
}

.recipe-container > a {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 20px;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: $light-blue;
  border: 2px solid $dark-blue;
}

.recipe-properties {
  position: absolute;
  margin-left: 70px;
  bottom: 20px;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #f1c3d5;
  border: 2px solid #be7793;
}

.recipe-properties > img {
  margin: 0px 5px;
}

.recipe-box-tag {
  position: absolute;
  left: 10;
  bottom: 20px;
}
