@import "../../assets/sass/colors.scss";

/* ===== Recipe CSS ===== */

.recipe-container {
  float: left;
  padding: 5px 20px;
  height: 400px;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid $blue;
  background-color: #fff;
  border-radius: 10px;
  word-wrap: break-word;
}

.recipe-container > .recipe-name-container {
  color: $vibrant-blue;
  text-align: center;
}
