@import "../../assets/sass/colors.scss";

.recipe-form-container {
  float: left;
  padding: 5px 20px;
  height: 400px;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid $blue;
  background-color: $light-yellow;
  word-wrap: break-word;
}

.edit-recipe-form-container {
  float: left;
  padding: 5px 20px;
  height: 400px;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid $blue;
  background-color: $light-yellow;
  word-wrap: break-word;
  position: absolute;
  z-index: 2;
}

.recipe-form > input[type="text"],
select {
  font-size: 17px;
  width: 90%;
  height: 45px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
}

.recipe-form > select {
  height: 45px;
  width: 90%;
}

.recipe-form > input[type="checkbox"],
select {
  width: 15%;
  color: #000000;
  margin-bottom: 10px;
}

#recipe-description {
  font-size: 17px;
  width: 90%;
  height: 150px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  resize: none;
}
