@import "../../assets/sass/colors.scss";

/* ===== RecipeForm SCSS ===== */

.recipe-form-container,
.edit-recipe-form-container {
  float: left;
  height: 400px;
  width: 260px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid $dark-blue;
  box-shadow: 2px 2px 0px 2px $deepest-yellow;
  word-wrap: break-word;
  background-color: $light-yellow;
  position: static;
  z-index: 2;
  padding: 30px 20px;
}

// name and link
.recipe-form > input[type="text"],
select {
  font-size: 17px;
  width: 90%;
  height: 45px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
}

// description
#recipe-description {
  font-size: 17px;
  width: 90%;
  height: 150px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  resize: none;
}

// recipe box
.recipe-form > select {
  height: 45px;
  width: 90%;
}

// check boxes
.recipe-form > input[type="checkbox"],
select {
  width: 15%;
  color: #000000;
  margin-bottom: 10px;
}
