@import "../../assets/sass/colors.scss";

/* ===== ErrorPopup SCSS ===== */

.error-popup-container {
  position: fixed;
  display: flex;
  align-items: center;
  right: 10px;
  top: 10px;
  background-color: $light-red;
  border: 2px solid $red;
  padding: 20px 20px;
  border-radius: 10px;
}

.error-popup-container > button {
  margin-left: 10px;
}
