@import "../../assets/sass/colors.scss";

.recipe-box-form-container {
  float: left;
  padding: 5px 20px;
  height: 400px;
  min-height: 250px;
  min-width: 250px;
  max-width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid $blue;
  background-color: #fff;
  box-shadow: 0px 0px $blue;
}
.recipe-box-form > input[type="text"],
select {
  font-size: 17px;
  width: 90%;
  height: 35px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
}

.recipe-box-form > input[type="color"],
select {
  font-size: 17px;
  width: 90%;
  height: 45px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Source Code Pro", monospace;
  color: #000000;
  opacity: 1;
  /* Firefox */
}
