@import "../../assets/sass/colors.scss";

/* ===== Header CSS ===== */

.header {
  transition: 0.3s;
  min-height: 80px;
  margin: 40px auto 30px auto;
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: right;
  background: #fff;
  border: 2px solid $deepest-yellow;
  box-shadow: 0px 5px $deepest-yellow;
}

.header > img {
  margin: auto 25px;
}

.header > .title-link {
  text-decoration: underline;
}
