@import "../../assets/sass/colors.scss";

/* ===== Header CSS ===== */

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 60px;
  margin-bottom: 20px;
  background: $light-yellow;
  box-shadow: 0px 2.5px $deepest-yellow;
}

.header > img {
  margin: 0px 20px;
}

.header > button {
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
  border: 3px solid $light-yellow;
}

.header > a {
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
  border: 3px solid $light-yellow;
}

.header > a:hover {
  border: 3px solid $deep-yellow;
}

.header > button:hover {
  border: 3px solid $deep-yellow;
}
