@import "../../assets/sass/colors.scss";

.recipe-box-form-container {
  float: left;
  padding: 5px 20px;
  height: 400px;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid $vibrant-blue;
  background-color: $light-yellow;
}
.recipe-box-form > input[type="text"],
select {
  font-size: 17px;
  width: 90%;
  height: 35px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
}

#recipe-box-description {
  font-size: 17px;
  width: 90%;
  height: 200px;
  padding: 8px 10px;
  margin: 5px;
  border: 2px solid $deepest-yellow;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  resize: none;
}
