@import "../../assets/sass/colors.scss";

/* ===== PageTitleBar SCSS ===== */
.title-bar {
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
}

.title-bar > img {
  order: 1;
  margin-right: 10px;
}

.title-bar > h1 {
  order: 2;
  font-size: 30px;
  color: $dark-blue;
}

.page-title-container > h3 {
  padding: 0px;
  margin-top: 0px;
}
