@import "../../assets/sass/colors.scss";

/* ===== PageTitleBar SCSS ===== */
.title-bar {
  display: flex;
  width: 40em;
  height: 4.5em;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
}

.title-bar > img {
  order: 1;
  margin-right: 10px;
}

.title-bar > h1 {
  order: 2;
  font-size: 30px;
  color: $dark-blue;
}
