@import "../../assets/sass/colors.scss";

/* ===== Sidebar SCSS ===== */

.sidebar-container {
  margin-top: 15%;
  margin-bottom: 5%;
}

.sidebar-container > .title-container {
  position: relative;
}

.sidebar-container > .title-container > h1 {
  font-size: 70px;
  color: $vibrant-blue;
  text-decoration: underline;
  margin: 0px;
  padding: 0px 0px 30px 0px;
  cursor: pointer;
}

.sidebar-container > .title-container > h1 > span {
  color: $dark-blue;
  background-color: $deepest-yellow;
  padding: 0px 15px 15px;
  margin-right: 8px;
  border-radius: 15px;
}

.sidebar-container > .title-container > img {
  float: left;
  margin-right: 10px;
}

.sidebar-container > h2 {
  color: $vibrant-blue;
  padding: 0px;
  margin: 10px 0px;
}
