@import "../../assets/sass/colors.scss";

/* ===== Footer SCSS ===== */

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 10px;
  width: 88%;
  color: $dark-blue;
}

.footer > a {
  text-decoration: underline;
  padding: 0px 10px;
  color: #ea596e;
}
