@import "../../assets/sass/colors.scss";

/* ===== WelcomePage SCSS ===== */
.welcome-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.guide-container {
  float: right;
  margin-top: 10%;
  width: 40%;
  box-shadow: -4px 0px $dark-blue;
  padding: 20px 50px;
}

.welcome-container > .guide-container > h1 {
  font-size: 25px;
  color: $dark-blue;
}

.welcome-container > .guide-container > ul {
  padding: 0;
}

.welcome-container > .guide-container > ul > li {
  list-style-type: none;
  font-family: "Trebuchet MS";
  color: $dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-container > .guide-container > ul > li > img {
  margin: auto 15px;
}

.sidebar-container {
  margin-top: 10%;
  min-width: 600px;
  float: left;
  left: 5%;
}
