@import "../src/assets/sass/colors.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-yellow;
}

h1 {
  font-size: 70px;
  color: $grey;
}

h1,
h2,
h3,
h4,
span,
p {
  cursor: default;
}

a,
button {
  font-family: "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: bold;
  color: $solid-yellow;
  background-color: #ffffff00;
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
}

a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
}

.page-container {
  width: 100%;
}

#form-button {
  border: 2px solid $deep-yellow;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

#action-button {
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid $blue;
  color: $blue;
}

#action-button:hover {
  border: 2px solid $vibrant-blue;
  color: $vibrant-blue;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Source Code Pro", monospace;
  color: #000000;
  opacity: 1;
  /* Firefox */
}
