@import "../src/assets/sass/colors.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-yellow;
}

h1 {
  font-size: 70px;
  color: $grey;
}

a {
  font-family: "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: bold;
  color: $solid-yellow;
  letter-spacing: 1px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
}

button {
  font-family: "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: bold;
  color: $solid-yellow;
  letter-spacing: 1px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: $blue;
  text-decoration-thickness: 3px;
}

button:hover {
  text-decoration: underline;
  text-decoration-color: $blue;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Source Code Pro", monospace;
  color: #000000;
  opacity: 1;
  /* Firefox */
}
