// blues
$light-blue: #e4e3ff;
$dark-blue: #4440a8;
$vibrant-blue: #0601a9;
$blue: #7b76f5;

// greys
$grey: #c4c4c2;
$dark-grey: #5a5a5a;

// yellows
$light-yellow: #fffcef;
$yellow: #faea95;
$deep-yellow: #fad017;
$deepest-yellow: #fad017;
